* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #e0ebe8; 
}

nav ul li a:hover {
    color: green;
  }

nav ul li a:link {
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 40px;
    background-color: grey;
}
  
nav ul li {
    display: inline-block;
    margin: 55px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.intro {
    top: 0;
    background: linear-gradient(60deg, rgb(255, 208, 0), rgb(101, 248, 90));
    min-height: 55vh;
    padding-top: 45vh;
}

.intro p {
    color: green;
}

.work {
    padding-top: 60px;
    margin-top: -60px;
    background: linear-gradient(60deg, rgb(255, 0, 212), rgb(90, 248, 240));
}

.work .work-header {
    margin-top: 50px;
    color: #008080;
    font-weight: normal;
}

.project {
    text-decoration: none;
    color: #008080;
    display: inline-block;
    overflow: hidden;
    border: 2px solid lightblue;
    height: 300px;
    width: 350px;
    margin: 40px 100px;
}

.project-pic {
    width: 100%;
    height: 260px;
    border-bottom: 2px solid lightblue;
}

.project-title {
    font-weight: bold;
}

.contact {
    background: linear-gradient(60deg, #C8F7C5, rgb(240, 116, 143));
    padding-bottom: 160px;
}

.header {
    padding: 160px 0 110px;
}

.contact-details {
    display: inline-block;
    font-weight: bold;
    margin: 0 35px 45px 35px;
    border: 2px solid #90C695;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    background: #e0ebe8;
    color: #008080;
    text-decoration: none;
}

footer {
    padding: 20px;
    background: #22313F;
    color: white;
    line-height: 40px;
}

@media only screen and (max-width: 400px) {
    .project {
        text-decoration: none;
        color: #008080;
        display: block;
        overflow: hidden;
        border: 2px solid lightblue;
        height: 150px;
        width: 200px;
        margin: 40px 100px;
    }
    project-pic {
        width: 80%;
        height: 90px;
        border-bottom: 2px solid lightblue;
    }
    nav ul li {
        display: block;
        margin: 55px;
        margin-bottom: 20px;
        margin-top: 25px;
    }
    nav ul {
        text-align: center;
        position: fixed;
        width: 100%;
        background-color: #e0ebe8;
      
    }
    .contact-details {
        display: block;
        font-weight: bold;
        margin: 0 auto;
        border: 2px solid #90C695;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        line-height: 100px;
        background: #e0ebe8;
        color: #008080;
        text-decoration: none;
        margin-bottom: 20px;
    }
}
